body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

nav{
    width: 100%;
    max-width: 110%;
    display: flex;
    background-color: #413fc4;
    margin: 0;
    padding: 10px 0;
    gap: 2%;
}

a{
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: inline-block;
}

p {
    flex: 1;
    text-align: justify;
    hyphens: auto;
    line-height: 1.6;
    padding: 0 50px;
}

h1{
    margin: 21 20;
    margin-left: 3% !important; 
    animation: aparecer 1s ease-out;
}

span{
    font-weight: bold;
    margin: 10px 3%;
    font-size: 1.2em;
    animation: cores 1.5s infinite;
}

footer{
    background-color: #413fc4;
    color: white;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}

footer p{
    text-align: center;
}

.Lakitu{
    margin-bottom: 20px; 
    margin-left: 3%;  
    height: 100px;
    width: 100px;
    max-width: 200px;
    max-height: 200px;
    animation: voar 1.5s infinite;
}

.Jump{
    margin-bottom: 20px; 
    margin-left: 3%;  
    height: 100px;
    width: 100px;
    max-width: 200px;
    max-height: 200px;
    animation: balançar 2s infinite;
}

.Toad{
    margin-bottom: 20px; 
    margin-left: 3%;  
    height: 100px;
    width: 100px;
    max-width: 200px;
    max-height: 200px;
    opacity: 0.79;
    animation: distorcer 1.5s infinite;
}

.Ralsei, .Kris, .ShadowGuy{
    margin-bottom: 20px; 
    margin-left: 3%;  
    height: 100px;
    width: 100px;
    max-width: 200px;
    max-height: 200px;
}

.TvTime{
    animation: expandir 2s infinite;
}

.popUp{
    height: 70px;
}

.paper{
    justify-self: center;
    height: 80px;
    padding: 10px 35px;
    transform: scaleX(-1);
}

.Boo{
    height: 100px;
    padding: 0 150px;
    margin-bottom: 15px;
    animation: voar 1.5s infinite;
}

.container {
    position: relative;
    display: inline-block;
}

.container img {
    display: block;
}

.container span {
    position: absolute;
    top: 25px;
    left: 45px;
    font-size: 15px;
}


@keyframes aparecer {
    from {
        opacity: 0.5;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes cores {
    0% {
        color: #000000;
        
    }

    30% {
        color: #0f9b92;
    }

    50% {
        color: #920fb3;
    }

    70% {
        color: #e78f09a1;
    }

    90%{
        color: #e21111a1;
    }

    100%{
        color: #ff1f1fa1;
    }
}

    @keyframes voar {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-10px);
        }
        100% {
            transform: translateY(0);
        }
    }

    @keyframes balançar {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(20deg); }
    50% { transform: rotate(-20deg); }
    75% { transform: rotate(20deg); }
    100% { transform: rotate(0deg); }
}

    @keyframes distorcer {
    0%{
        transform: skewX(-10deg);
    }
    25% {
        transform: skewX(10deg);
    }
}

    @keyframes expandir {
        0% {
            transform: scale(0);
        }

        100% {
            transform: scale(0.7);
        }
    }