.card-body{
    position: relative;
    left: 3rem;
    width: 22rem;
    height: 120px;
    padding: 0;
    border: 1px solid rgb(173, 173, 173);
    border-radius: 15px;
}

.title {
    position: relative;
    left: 15px;
    margin-top: 15px;
    font-size: medium;
    
}

.btn {
    display: inline-block;
    position: relative;
    left: 15px;
    padding: 12px 16px;
    border: none;
    border-radius: 12px;
    background:#2470fd;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}

.blocks{
    position: relative;
    top:-50px;
    left: 207px;
    display: flex;
    margin:0;
    padding: 0px;
    animation: deslizar 1.5s infinite ;
}

.Kirby{
    height: 5.5rem;
    max-height: 10rem;
    position: relative;
    top: -95px;
    left: 200px;
    animation: deslizar 2s infinite ;
}

.Mushroom{
    height: 5.5rem;
    max-height: 10rem;
    position: relative;
    top: -85px;
    left: 220px;
    animation: andar 2s infinite ;
}

.Bug{
    height: 3.5rem;
    max-height: 10rem;
    position: relative;
    top: -65px;
    left: 220px;
    animation: voar 2s infinite ;
}

.Soul {
    height: 60px;
    width: 60px;
    max-width: 60px;
    max-height: 60px;
    animation: berambular 2s infinite;
}

@keyframes andar {
    0% {
        transform: translateX(0);
    }
    25%{
        transform: translateX(15px);
    }
    50%{
        transform: translateX(0);
    }
    75%{
        transform: translateX(-10px);
    }
    100%{
        transform: translateY(-10px);
    }
}

@keyframes deslizar {
    0% {
        transform: translateY(0);
    }
    50%{
        transform: translateY(9px);
    }
}

@keyframes berambular {
    0% {
        transform: translateY(0);
    }
    40%{
        transform: translateY(9px);
    }
    75%{
        transform: scale(1.8);
    }
}



